
<div class="message-form">
  <%= form_with(model: [@conversation, message], local: true) do |form| %>
    <% if message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :body, 'Enter your message:' %><br>
      <%= form.text_area :body, id: :message_body, class: "form-control noresize" %>
    </div>
    <br>
    <div class="actions">
      <%= form.submit 'Send Message', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>