<p id="notice"><%= notice %></p>

<h1 class="title">Conversation with <%= other_user(@conversation) %></h1> 
<%= link_to 'Back', conversations_path, class:"btn btn-primary" %>

  <div class="messages-container">
    <% @messages.each do |message| %>
      <% if message.sender == current_user %>
        <div class="message-box-a">
          <p><%= Profile.find_by(user: message.sender).first_name %>: 
          <p><%= message.body %></p>
        </div>
        <% else %>
          <div class="message-box-b">
            <p><%= Profile.find_by(user: message.sender).first_name %>: 
            <p><%= message.body %></p>
          </div>
        <% end %>
    <% end %>
    <div class="new-msg-box">
      <%= render 'form', message: @message %>
    </div>
  </div>

<br>


  
 
