<p id="notice"><%= notice %></p>


  <div class="messages-container">
    <div class="messages-header">
      <h1 class="title">Conversation with <%= other_user(@conversation) %></h1> 
      <%= link_to 'Back to Inbox', conversations_path, class:"btn btn-primary" %>
    </div>

    <% @messages.each do |message| %>
      <% if message.sender == current_user %>
        <div class="message-box-a">
          <figure class="message-avatar">
            <% if Profile.find_by(user: message.sender).avatar.present? %>
              <%= image_tag Profile.find_by(user: message.sender).avatar_url(:thumb) %>
            <% end %>
          </figure>
          <div class="message-content">
            <h4><%= Profile.find_by(user: message.sender).first_name %>: </h4>
            <p><%= message.body %></p>
          </div>  
        </div>
        <% else %>
          <div class="message-box-b">
            <figure class="message-avatar">
            <% if Profile.find_by(user: message.sender).avatar.present? %>
              <%= image_tag Profile.find_by(user: message.sender).avatar_url(:thumb) %>
            <% end %>
            </figure>
            <div class="message-content">
              <h4><%= Profile.find_by(user: message.sender).first_name %>:</h4> 
              <p><%= message.body %></p>
            </div>
          </div>
        <% end %>
    <% end %>
    <div class="new-msg-box">
      <%= render 'form', message: @message %>
    </div>
  </div>

<br>


  
 
