<p id="notice"><%= notice %></p>

<h1>Experts</h1>

  <% @profiles.each do |profile| %>
  
    <div class="profile-box">
      <figure class="image-box">
        <!-- If there is an avatar image present in the profile -->
        <% if profile.avatar.present? %>
          <%= image_tag profile.avatar_url(:thumb), alt: "Profile photo for #{profile.first_name} #{profile.last_name}" %>
        <% else %>
          <!-- If not present, display default profile image -->
          <img src="<%= asset_url('profile.png') %>" />
        <% end %>  
      </figure>

      <h4><%= full_name profile %></h4>
      <td><%= profile.bio %></td>
      <td><%= link_to 'Show', profile %></td>
  
    </div>
  <% end %>


<br>

<%= link_to 'New Profile', new_profile_path %>
