<p id="notice"><%= notice %></p>
<div class="main-content">
<div class="black-white-header">
  <h3>Some of our Experts</h3>
</div>  

<div class="profiles-index-container">
  <% @profiles.each do |profile| %>
    <!-- make the entire profile container a link to their profile -->
    <%= link_to profile, class: "div-link" do %>
      <div class="jumbotron profile-box">
        <figure class="image-box">
          <!-- If there is an avatar image present in the profile -->
          <% if profile.avatar.present? %>
            <%= image_tag profile.avatar_url(:thumb), alt: "Profile photo for #{profile.first_name} #{profile.last_name}" %>
          <% else %>
            <!-- If not present, display default profile image -->
            <img src="<%= asset_url('profile.png') %>" />
          <% end %>  
        </figure>

        <h4><%= full_name profile %></h4>
        <td><%= (profile.bio.truncate(40, separator: ' ')) %></td>
      </div>
    <% end %>
  <% end %>



</div>
</div>