<p id="notice"><%= notice %></p>

<h1>Profiles</h1>




  <% @profiles.each do |profile| %>
  
    <div class="profile-box">

      <p><%= profile.first_name %> <%= profile.last_name %></p>
      <td><%= profile.bio %></td>
      <td><%= profile.avatar_data %></td>
      <td><%= link_to 'Show', profile %></td>
  
    </div>
  <% end %>


<br>

<%= link_to 'New Profile', new_profile_path %>
