<div class="profile-main-container">
  <%= hidden_field :id, @user_2 %>
  <p id="notice"><%= notice %></p>

  <figure class="image-box">
    <% if @profile.avatar.present? %>
      <%= image_tag @profile.avatar_url(:thumb), alt: "Profile photo for #{@profile.first_name} #{@profile.last_name}" %>
    <% else %>
      <img src="<%= asset_url('profile.png') %>" />
    <% end %>  
  </figure>

  <h2>
    <strong>
      <%= @profile.first_name %> <%= @profile.last_name %>
    </strong>  
  </h2>

  <!-- continue conversation button -->
  <% if @profile.user != current_user %>
    <%= link_to 'Continue Conversation', conversations_path, class:"btn btn-primary"%> |
    <%= link_to 'Contact', new_conversation_path, class:"btn btn-primary"%>
  <% end %>

  <p>
    <strong>Bio:</strong>
    <%= @profile.bio %>
  </p>


  <% if @profile.user == current_user %>
    <%= link_to 'Inbox', conversations_path %> |
    <%= link_to 'Edit', edit_profile_path(@profile) %> |
    <%= link_to 'Back', profiles_path %>
  <% else %>
    <%= link_to 'Back', profiles_path %>
  <% end %>  
  
</div>