<div class="profile-page main-content">
  <div class="profile-main-container">

    <p id="notice"><%= notice %></p>

    <figure class="image-box">
      <!-- If there is an avatar image present in the profile -->
      <% if @profile.avatar.present? %>
        <%= image_tag @profile.avatar_url(:thumb), alt: "Profile photo for #{@profile.first_name} #{@profile.last_name}" %>
      <% else %>
        <!-- If not present, display default profile image -->
        <img src="<%= asset_url('profile.png') %>" />
      <% end %>  
    </figure>

    <h2>
      <strong>
        <%= full_name @profile %>
      </strong>  
    </h2>

    <% if @profile.user != current_user %>
      <%= form_with model: @conversation, local: true do |f| %>
          <%= f.hidden_field :user2_id, value: @profile.id  %> 
          <%= f.submit 'Contact', class:"btn btn-primary" %>
      <% end %>
        <%= link_to 'Book Session', new_booking_path(expert_id: @profile.user_id), class:"btn btn-primary" %>
    <% end %>

    <div class="bio-container">
      <p>
        <strong>Bio:</strong>
        <%= @profile.bio %>
      </p>
    </div>

    <% if @profile.user == current_user %>
      <%= link_to 'Inbox', conversations_path, class:"btn btn-primary btn-lg btn-blk-wide" %> 
      <%= link_to 'Edit', edit_profile_path(@profile), class:"btn btn-primary btn-lg btn-blk-wide" %> 
    <% else %>
      <%= link_to 'Back', profiles_path, class:"btn btn-primary btn-lg btn-blk" %>
    <% end %>  
    
  </div>
</div>