<div class="profile-main-container">
  <p id="notice"><%= notice %></p>

  <div class="image-box">
    
  </div>

  <h2>
    <strong>
      <%= @profile.first_name %> <%= @profile.last_name %>
    </strong>  
  </h2>

  <p>
    <strong>Bio:</strong>
    <%= @profile.bio %>
  </p>

  <p>
    <strong>Avatar data:</strong>
    <%= @profile.avatar_data %>
  </p>

  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', profiles_path %>
</div>