<p id="notice"><%= notice %></p>

<p>
  <strong>User1:</strong>
  <%= @conversation.user1 %>
</p>

<p>
  <strong>User2:</strong>
  <%= @conversation.user2 %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
