<p id="notice"><%= notice %></p>

<div>
<h1>Bookings</h1>
 
<% @bookings.each do |booking| %>
  <!-- If the current user is part of the booking, either as the expert or the client -->
  <% if booking.expert == current_user || booking.client == current_user %>
    <div class="session-container">
      <h2>Your Session with <%= full_name booking.expert.profile %></h2>
      <div class="session-information">
        <p><%= full_name booking.client.profile %></p>
        <p><strong><%= time_tag booking.time %></strong></p>
        <p>(<%= pluralize(booking.duration, 'Hour') %>)</p>
        <p><%= booking.location %></p>
        <p><%= link_to 'Show', booking %></p>
      </div>
    </div>
  <% end %>
<% end %>

</div>



