  <p id="notice"><%= notice %></p>

<div class="session-container">
    <h2>
      Your Session with
      <%= full_name @booking.expert.profile %>
    </h2>

  <div class="session-content-container">

    <div class="session-information">
      <p>
        <strong>Client:</strong>
        <%= full_name @booking.client.profile %>
      </p>

      <p>
        <strong><%= time_tag @booking.time %></strong>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @booking.rate_per_hour * @booking.duration %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @booking.location %>
      </p>
    </div>
  

    <div class="session-expert-avatar">
    <!-- If there is an avatar image present in the profile -->
      <% if @booking.expert.profile.avatar.present? %>
        <%= image_tag @booking.expert.profile.avatar_url(:thumb) %>
      <% else %>
        <!-- If not present, display default profile image -->
        <img src="<%= asset_url('profile.png') %>" />
      <% end %> 
    </div>

  </div>

  <% if @booking.charge_identifier.blank? %>
    <div class="stripe-container">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Session with <%= full_name @booking.expert.profile %>"
              data-email="<%= current_user.email %>"
              data-amount="<%= @amount %>"
              data-currency="aud"
              data-locale="auto">
      </script>
    </div>
  <% end %>

</div>


