<h1>Support</h1>

<h3>Need some help <%= current_user.profile.first_name %>?</h3>
<p>Send our friendly staff a message</p>

<!-- Display error messages if present -->
<% unless @error_messages.empty?  %>
  <% @error_messages.each do |message| %>
    <p class="error-message-p"><%= message %></p>
  <% end %>
<% end %>
  


<%= form_with(url: support_url, local: true) do |f| %>
  <!-- text field for title -->
  <div>
    <%= f.label :title, 'Whats the issue?' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :message %>
    <%= f.text_area :message, rows: 6 %>
  </div>
    <%= f.button 'Send' %>
<% end %>