<div class="support-container">

  <div class="support-header">
    <h1>Support</h1>
      <br>
    <h3>Need some help <%= current_user.profile.first_name %>?</h3>
    <p>Send our friendly staff a message</p>
  </div>

  <!-- Display error messages if present -->
  <% unless @error_messages.empty?  %>
    <% @error_messages.each do |message| %>
      <p class="error-message-p"><%= message %></p>
    <% end %>
  <% end %>
    


  <%= form_with(url: support_url, local: true) do |f| %>
    <!-- text field for title -->
    <div>
      <p><%= f.label :title, 'Whats the issue?' %></p>
      <%= f.text_field :title, class:"form-control" %>
    </div>
    <br>

    <div>
      <p><%= f.label :message %></p>
      <%= f.text_area :message, class:"form-control noresize", rows: 6 %>
    </div>
    <br>
      <%= f.button 'Send' %>
  <% end %>
</div>