    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img src=<%= asset_url('logo.svg') %> width="30" height="30" class="d-inline-block align-top logo" alt="">
      <%= link_to ' Expertise', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <!-- link to the profile page -->
            <%= link_to 'The Experts', profiles_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <!-- link to support message page -->
            <%= link_to 'Support', support_path, class: "nav-link" %>
          </li>
        </ul>
        <!-- This the login partial -->
        <%= render 'layouts/login' %>
      </div>
    </nav>



<!-- add this after a profile has been created
 ruby tags current_user.first_name ruby tags!
 -->