<!DOCTYPE html>
<html>
  <head>
    <title>Expertise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Flash messages -->
    <%= render 'layouts/messages' %>
    <!-- Login/Sign up options if not logged in | Welcome message if logged in  -->
    <%= render 'layouts/login'%>
    
    <%= yield %>
  </body>
</html>
